<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Customer Retail Journeys 
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>    
<br>

<p style = 'font-size:20px;font-family:Arial'><b>Introduction</b></p>



<p style = 'font-size:16px;font-family:Arial'>In today's business landscape, customers engage with numerous digital platforms, including various company websites and online interfaces. As a result, the digital experiences offered by firms have become increasingly critical. However, companies often encounter challenges when attempting to understand and analyze customers' digital interactions. Fortunately, Teradata offers innovative solutions such as Vantage and ClearScape Analytics to address these challenges. We want to provide impactful strategies that companies can utilize to overcome common obstacles and enhance the digital experience.</p>
<p style = 'font-size:16px;font-family:Arial'>Our goal at Teradata is to help you identify the high-impact moments in your customers’ digital journeys so that you can better meet their needs and expectations. In fact, a survey from American Express found that as many as 78% of consumers gave up on a transaction due to broken processes, which can lead to companies losing 10s of millions of dollars in revenue and increasing customer churn.</p>
<p style = 'font-size:20px;font-family:Arial'><b>Business Value</b></p>
<li style = 'font-size:16px;font-family:Arial'>Increase revenue through improving conversions.</li>
<li style = 'font-size:16px;font-family:Arial'>Drive incremental sales through new leads.</li>
<li style = 'font-size:16px;font-family:Arial'>Reduce costs by improving operational efficiencies. </li>
<li style = 'font-size:16px;font-family:Arial'>Investigate further into the customer journey and possible friction via techniques such as cluster analysis.</li>
<li style = 'font-size:16px;font-family:Arial'>Implement process changes or alerts to remove friction points.</li>
<li style = 'font-size:16px;font-family:Arial'>Create proactive customer outreach via Call Centers or marketing outreach.</li></p> 
<p style = 'font-size:20px;font-family:Arial'><b>Why Vantage? </b></p>
<p style = 'font-size:16px;font-family:Arial'>With the advantages of Vantage and ClearScape Analytics, we bring key differentiating capabilities that set us apart from the current fragmented state many of our customers and prospects face. Analyzing customer behavior across multiple channels poses many challenges.  Data is disconnected, or when it is available, typically exists in vast quantities that make timely, accurate analysis impossible.  If this analysis is available, it is typically only available inside of a closed, proprietary ecosystem. </p>
<p style = 'font-size:16px;font-family:Arial'>Fortunately, Vantage allows users to unlock the value in their customer behavioral information by</p>
<li style = 'font-size:16px;font-family:Arial'>Accessing data across multiple, disconnected silos, and </li>
<li style = 'font-size:16px;font-family:Arial'>Applying unique, massively-scalable analytics capabilities which allows organizations to understand a complete and accurate picture of the user journey.</li></p>
<p style = 'font-size:16px;font-family:Arial'>With Vantage, these analytics can be run in real-time for any data volume or number of users – providing an accurate, timely view of overall user experience. And of course, Vantage and ClearScape Analytics allow for at-scale processing across all the digital interactions that make up customer journeys.
Furthermore, this analysis can be passed to additional ML and AI capabilities available in ClearScape Analytics, helping to develop more accurate and actionable predictive models.
</p>

<p style = 'font-size:16px;font-family:Arial'>This demo shows how to use ClearScape functions to analyze customer digital behavior, experience, and diagnosis of problems with customer experience and flow. It uses a simulated digital retail data set. Specifically, it has examples of looking at the most frequent customer journeys and identifying any common events that could potentially be stopping the customer from making a purchase.</p>

<hr style="height:1px;border:none;background-color:#00233C;">
<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>Downloading and installing additional software needed</b>

In [ ]:
%%capture
!pip install teradataml==20.00.00.03 --quiet

<div class="alert alert-block alert-info">
<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b>Note: </b><i>Please restart the kernel after executing these two lines. The simplest way to restart the Kernel is by typing zero zero: <b> 0 0</b></i></p>

<hr style="height:2px;border:none;">

<p style = 'font-size:20px;font-family:Arial'><b>1. Connect to Vantage</b></p>

<p style = 'font-size:16px;font-family:Arial'>In the section, we import the required libraries and set environment variables and environment paths (if required).</p>


<p style = 'font-size:16px;font-family:Arial'>Import the libraries mentioned in the below cell.</p>

In [ ]:
import teradataml as tdml
from teradataml import *
from teradataml import configure

import sqlalchemy
import getpass
import pandas as pd

import plotly.express as px
# from sklearn.ensemble import RandomForestClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import tdnpathviz


import warnings
warnings.filterwarnings('ignore')
display.max_rows = 5

configure.val_install_location = "val"

<p style = 'font-size:16px;font-family:Arial'>We will be prompted to provide the password. We will enter the password, press the Enter key, and then use the down arrow to go to the next cell. Begin running steps with Shift + Enter keys.</p>

In [ ]:
%run -i ../startup.ipynb
eng = create_context(host = 'host.docker.internal', username='demo_user', password = password)
print(eng)

In [ ]:
%%capture
execute_sql('''SET query_band='DEMO=Customer_Retail_Journey.ipynb;' UPDATE FOR SESSION; ''')

<hr style="height:2px;border:none;">

<p style = 'font-size:20px;font-family:Arial'><b>2. Getting Data for This Demo</b></p>
<p style = 'font-size:16px;font-family:Arial'>We have provided data for this demo on cloud storage. We have the option of either running the demo using foreign tables to access the data without using any storage on our environment or downloading the data to local storage, which may yield somewhat faster execution. However, we need to consider available storage. There are two statements in the following cell, and one is commented out. We may switch which mode we choose by changing the comment string.</p>

In [ ]:
# %run -i ../run_procedure.py "call get_data('DEMO_RetailJourney_cloud');"
# Takes about 20 seconds
%run -i ../run_procedure.py "call get_data('DEMO_RetailJourney_local');"
# Takes about 50 seconds

<p style = 'font-size:16px;font-family:Arial'>Optional step – We should execute the below step only if we want to see the status of databases/tables created and space used.</p>

In [ ]:
%run -i ../run_procedure.py "call space_report();"

<hr style="height:2px;border:none;">

<p style = 'font-size:20px;font-family:Arial'><b>3. Data Exploration</b></p>


<p style = 'font-size:16px;font-family:Arial'>We create a DataFrame to get the data from the table created.</p>

In [ ]:
data = DataFrame(in_schema('DEMO_RetailJourney','Customer_Retail_Data'))
data

<p style = 'font-size:16px;font-family:Arial'> Let's check which events are there and the number of occurrences of each event.</p>

In [ ]:
data.select(["customerid","page"]).groupby("page").count().head(15).sort("count_customerid", ascending=False)

<p style = 'font-size:16px;font-family:Arial'> Let's check the events for one customer.</p>

In [ ]:
data[(data['customerid']==578070
     )&(data['sessionid']==0)].sort("tstamp").head(10)

<p style = 'font-size:16px;font-family:Arial'> We will create our columns of interset using various transformations.</p>

In [ ]:
temp = data.assign(drop_columns=True,
                   cookie = data.customerid.concat("_", data.sessionid).cast(type_=VARCHAR(50)),
                   tmstp = data.tstamp.cast(type_=TIMESTAMP(6)),
                   interaction = case([(data.page == 'PURCHASE COMPLETE', 'conversion')], else_='impression').cast(type_= VARCHAR(30)),
                   conversion = case([(data.page == 'PURCHASE COMPLETE', 1)], else_= 0).cast(type_= INTEGER),
                   conversion_value =  case([(data.page == 'PURCHASE COMPLETE', data.amount)], else_= 0).cast(type_= INTEGER),
                   cost = case([(data.page == 'PURCHASE COMPLETE', data.amount)], else_= 1).cast(type_= INTEGER),
                   channel = data.page.cast(type_= VARCHAR(50)),
                   category = data.cart.cast(type_= VARCHAR(50)))

temp

In [ ]:
proxy_df = temp.select(['cookie', 'tmstp', 'interaction', 'conversion', 'conversion_value', 'cost', 'channel', 'category'])

In [ ]:
sample_proxy_cookies = proxy_df.select(['cookie']).sample(frac=0.01) #,id_column="cookie", seed=24)

In [ ]:
# sample_proxy_df = proxy_df[proxy_df['cookie'].isin(sample_proxy_cookies)]
sample_proxy_df = proxy_df.merge(right=sample_proxy_cookies, how="inner", on="cookie", lsuffix ="t1", rsuffix = "t2")
sample_proxy_df

In [ ]:
sample_proxy_df.shape

<p style = 'font-size:16px;font-family:Arial'> We will remove the duplicate rows from our dataset.</p>

In [ ]:
sample_proxy_df = sample_proxy_df.drop_duplicate()
sample_proxy_df.shape

In [ ]:
sample_proxy_df =  sample_proxy_df.assign(cookie = sample_proxy_df.cookie_t1)
sample_proxy_df = sample_proxy_df.drop(["cookie_t1","cookie_t2","sampleid"], axis=1)
sample_proxy_df

In [ ]:
# execute_sql('''DROP TABLE CJ_retail_proxy_data_v1''')

In [ ]:
# Create the table
qry = '''
CREATE MULTISET TABLE CJ_retail_proxy_data_v1
(
    
    tmstp TIMESTAMP(6),
    interaction VARCHAR(30) ,
    conversion INT,
    conversion_value INT,
    cost INT, 
    channel VARCHAR(50) ,
    category VARCHAR(50),
    cookie VARCHAR(50) 
);
'''

try:
    execute_sql(qry)
except:
    db_drop_table('CJ_retail_proxy_data_v1')
    execute_sql(qry)

In [ ]:
copy_to_sql(sample_proxy_df, table_name="CJ_retail_proxy_data_v1", if_exists="append")
attr_df = DataFrame("CJ_retail_proxy_data_v1")

In [ ]:
%time
from sqlalchemy import literal_column
column2 = literal_column("cast('2018-07-30' as Date)")
conversions_df = attr_df.loc[attr_df['conversion'] == 1]
conversions_df = conversions_df.assign(time = conversions_df.tmstp.cast(type_=DATE))
conversions_df = conversions_df[conversions_df['time'] < column2]
conversions_df = conversions_df.drop(['cookie', 'interaction'], axis=1)
conversions_df = conversions_df.select(['conversion', 'conversion_value',
                           'cost', 'channel']).groupby('channel').sum()
conversions_df

<a id="rule"></a>
<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>4. RULE BASED MODELS</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Rule Based attribution models assign conversion credits (weights) to touchpoints in a conversion path according to certain predefined rules.
</p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>These rules are used to identify the position of an interaction on the conversion path and then assign conversion credit solely on the basis of its position.
</p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>To execute rule based models we can leverage the Vantage native Attribution function and easily consider the following methods:
<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Uniform: Conversion event is attributed uniformly to preceding attributable events.</li>
    <li>First Click: Conversion event is attributed entirely to first attributable event.</li>
    <li>Last Click: Conversion event is attributed entirely to most recent attributable event</li> 
    <li>Exponential:  Conversion event is attributed exponentially to preceding attributable events (the more recent the event, the higher the attribution).</li>
 </ul>
</p>

<hr style="height:1px;border:none;background-color:#00233C;">
<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>4.1 Calculate Attribution using all the 4 methods</b></p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The function takes data and parameters from multiple tables and outputs attributions. Please refer to Teradata Vantage™ - Analytics Database Analytic Functions documentation for more on Attribution function.</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Attribution Input :
<ol style = 'font-size:14px;font-family:Arial;color:#00233C'>
<li style = 'font-size:14px;font-family:Arial;color:#00233C'>Input tables (maximum of five) (Contain data for computing attributions).</li>
<li style = 'font-size:14px;font-family:Arial;color:#00233C'>ConversionEventTable (Contains conversion events).</li>
<li style = 'font-size:14px;font-family:Arial;color:#00233C'>FirstModelTable (Defines type and distributions of model - we'll create one table per model)</li></ol>
</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Attribution Syntax Elements:
<ol style = 'font-size:14px;font-family:Arial;color:#00233C'>
<li style = 'font-size:14px;font-family:Arial;color:#00233C'>EventColumn specifies the name of the input column that contains the events.</li>
<li style = 'font-size:14px;font-family:Arial;color:#00233C'>TimeColumn specifies the name of the input column that contains the timestamps of the  events.</li>
<li style = 'font-size:14px;font-family:Arial;color:#00233C'>WindowSize specifies how to determine the maximum window size for the attribution calculation</li></ol>
    </p>

In [ ]:
%time
# Drop the table if it already exists
qry = 'DROP TABLE ATTRIBUTION_CONVERSION;'
try:
    execute_sql(qry)
except Exception as e:
    if str(e.args).find('3807') >= 1:
        pass
    else:
        raise

# Create the table
qry = '''
CREATE MULTISET TABLE ATTRIBUTION_CONVERSION
(
    CONVERSION VARCHAR(100)
);
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line1)
qry = '''
INSERT INTO ATTRIBUTION_CONVERSION VALUES ('conversion');;
'''

# Execute the query
execute_sql(qry)

<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b>Uniform Model (applies equal weighting to all contributing touchpoints in the customer journey)</b></p>

In [ ]:
%time
# Drop the table if it already exists
qry = 'DROP TABLE ATTRIBUTION_MODEL_UNIFORM;'
try:
    execute_sql(qry)
except Exception as e:
    if str(e.args).find('3807') >= 1:
        pass
    else:
        raise

# Create the table
qry = '''
CREATE MULTISET TABLE ATTRIBUTION_MODEL_UNIFORM
(
    ID   INT,
    MODEL VARCHAR(100)
);
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line1)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_UNIFORM VALUES (0,'EVENT_REGULAR');
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line2)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_UNIFORM VALUES (1,'ALL:1.0:UNIFORM:NA');
'''

# Execute the query
execute_sql(qry)

In [ ]:
%time
# Drop the table if it already exists
qry = 'DROP TABLE ATTRIBUTION_MODEL_FIRSTCLICK;'
try:
    execute_sql(qry)
except Exception as e:
    if str(e.args).find('3807') >= 1:
        pass
    else:
        raise

# Create the table
qry = '''
CREATE MULTISET TABLE ATTRIBUTION_MODEL_FIRSTCLICK
(
    ID   INT,
    MODEL VARCHAR(100)
);
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line1)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_FIRSTCLICK VALUES (0,'EVENT_REGULAR');
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line2)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_FIRSTCLICK VALUES (1,'ALL:1.0:FIRST_CLICK:NA');
'''

# Execute the query
execute_sql(qry)

<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b> Last Click Model (100% of the credit is directly attributed to the last interaction in the customer journey)</b></p>

In [ ]:
%time
# Drop the table if it already exists
qry = 'DROP TABLE ATTRIBUTION_MODEL_LASTCLICK;'
try:
    execute_sql(qry)
except Exception as e:
    if str(e.args).find('3807') >= 1:
        pass
    else:
        raise

# Create the table
qry = '''
CREATE MULTISET TABLE ATTRIBUTION_MODEL_LASTCLICK
(
    ID   INT,
    MODEL VARCHAR(100)
);
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line1)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_LASTCLICK VALUES (0,'EVENT_REGULAR');
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line2)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_LASTCLICK VALUES (1,'ALL:1.0:LAST_CLICK:NA');
'''

# Execute the query
execute_sql(qry)

In [ ]:
%time
# Drop the table if it already exists
qry = 'DROP TABLE ATTRIBUTION_MODEL_EXPONENTIAL;'
try:
    execute_sql(qry)
except Exception as e:
    if str(e.args).find('3807') >= 1:
        pass
    else:
        raise

# Create the table
qry = '''
CREATE MULTISET TABLE ATTRIBUTION_MODEL_EXPONENTIAL
(
    ID   INT,
    MODEL VARCHAR(100)
);
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line1)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_EXPONENTIAL VALUES (0,'EVENT_REGULAR');
'''

# Execute the query
execute_sql(qry)

#Insert model specification values (line2)
qry = '''
INSERT INTO ATTRIBUTION_MODEL_EXPONENTIAL VALUES (1,'ALL:1.0:EXPONENTIAL:0.5,ROW');
'''

# Execute the query
execute_sql(qry)

In [ ]:
%time
attr_conversion =  DataFrame('ATTRIBUTION_CONVERSION')
attr_uniform =  DataFrame('ATTRIBUTION_MODEL_UNIFORM')
attr_fc =  DataFrame('ATTRIBUTION_MODEL_FIRSTCLICK')
attr_lc =  DataFrame('ATTRIBUTION_MODEL_LASTCLICK')
attr_exp =  DataFrame('ATTRIBUTION_MODEL_EXPONENTIAL')

In [ ]:
%time
attribution_uniform = Attribution(data=attr_df,
                                             data_partition_column="cookie",
                                             data_order_column="tmstp",
                                             event_column="interaction",
                                             conversion_data=attr_conversion,
                                             timestamp_column = "tmstp",
                                             window_size = "rows:20",
                                             model1_type=attr_uniform)

AttrUNI_df = attribution_uniform.result
attribution_FC = Attribution(data=attr_df,
                                             data_partition_column="cookie",
                                             data_order_column="tmstp",
                                             event_column="interaction",
                                             conversion_data=attr_conversion,
                                             timestamp_column = "tmstp",
                                             window_size = "rows:20",
                                             model1_type=attr_fc)

AttrFC_df = attribution_FC.result
attribution_LC = Attribution(data=attr_df,
                                             data_partition_column="cookie",
                                             data_order_column="tmstp",
                                             event_column="interaction",
                                             conversion_data=attr_conversion,
                                             timestamp_column = "tmstp",
                                             window_size = "rows:20",
                                             model1_type=attr_lc)

AttrLC_df = attribution_LC.result
attribution_EXP = Attribution(data=attr_df,
                                             data_partition_column="cookie",
                                             data_order_column="tmstp",
                                             event_column="interaction",
                                             conversion_data=attr_conversion,
                                             timestamp_column = "tmstp",
                                             window_size = "rows:20",
                                             model1_type=attr_exp)

AttrEXP_df = attribution_EXP.result

In [ ]:
copy_to_sql(AttrUNI_df, table_name='AttrUNI_df', if_exists='replace')
copy_to_sql(AttrFC_df, table_name='AttrFC_df', if_exists='replace')
copy_to_sql(AttrLC_df, table_name='AttrLC_df', if_exists='replace')
copy_to_sql(AttrEXP_df, table_name='AttrEXP_df', if_exists='replace')

In [ ]:
AttrUNI_df =  DataFrame('AttrUNI_df')
AttrFC_df =  DataFrame('AttrFC_df')
AttrLC_df =  DataFrame('AttrLC_df')
AttrEXP_df =  DataFrame('AttrEXP_df')

In [ ]:
%time
attr_12_df = AttrUNI_df.merge(right = AttrFC_df, how = "inner" , on = ["cookie","tmstp", "channel"], lsuffix = "t1", rsuffix = "t2")
attr_34_df = AttrLC_df.merge(right = AttrEXP_df, how = "inner" , on = ["cookie","tmstp", "channel"], lsuffix = "t3", rsuffix = "t4")
attr_all_df = attr_12_df.merge(right = attr_34_df, how = "inner" , on = ["cookie_t1 = cookie_t3","tmstp_t1 = tmstp_t3"
                                                                            , "channel_t1 = channel_t3"], lsuffix = "t5", rsuffix = "t6")

In [ ]:
%time
attr_4model_df = attr_all_df.select(['cookie_t1','tmstp_t1','channel_t1', 
                                     'attribution_t1','attribution_t2','attribution_t3','attribution_t4',
                                     'time_to_conversion_t1', 'time_to_conversion_t2', 'time_to_conversion_t3',
                                     'time_to_conversion_t4'])

In [ ]:
attr_4model_df = attr_4model_df.assign(drop_columns = True, 
                                       cookie = attr_4model_df.cookie_t1,
                                       tmstp = attr_4model_df.tmstp_t1,
                                       channel = attr_4model_df.channel_t1,
                                       uni_attr = attr_4model_df.attribution_t1,
                                       uni_ttc = attr_4model_df.time_to_conversion_t1,
                                       fc_attr = attr_4model_df.attribution_t2,
                                       fc_ttc = attr_4model_df.time_to_conversion_t2,
                                       lc_attr = attr_4model_df.attribution_t3,
                                       lc_ttc = attr_4model_df.time_to_conversion_t3,
                                       exp_attr = attr_4model_df.attribution_t4,
                                       exp_ttc = attr_4model_df.time_to_conversion_t4)
copy_to_sql(attr_4model_df, table_name='attr_4model_df', if_exists='replace')
attr_4model_df = DataFrame('attr_4model_df')

In [ ]:
attr_4model_df.shape

<hr style="height:1px;border:none;background-color:#00233C;">
<p style = 'font-size:18px;font-family:Arial;color:#00233C'><b>4.2. Calculate attribution weights by channel and rule based model</b></p>

In [ ]:
%time
attr_tot = attr_4model_df.select(['exp_attr','fc_attr','lc_attr','uni_attr']).sum()
attr_channel_tot = attr_4model_df.select(['channel','exp_attr','fc_attr','lc_attr','uni_attr']).groupby('channel').sum()

In [ ]:
attr_tot.shape

In [ ]:
%time
attr_channel_tot = attr_channel_tot.merge(right=attr_tot, how="inner", 
                                          on=["sum_uni_attr < sum_uni_attr"]
                                         , lsuffix = "t1",rsuffix="t2")

In [ ]:
%time
attr_channel_total = attr_channel_tot.assign(drop_columns = True ,
                                           channel = attr_channel_tot.channel,
                                           tot_uni_attr = attr_channel_tot.sum_uni_attr_t1 / attr_channel_tot.sum_uni_attr_t2,
                                           tot_fc_attr = attr_channel_tot.sum_fc_attr_t1 / attr_channel_tot.sum_fc_attr_t2,
                                           tot_lc_attr = attr_channel_tot.sum_lc_attr_t1 / attr_channel_tot.sum_lc_attr_t2,
                                           tot_exp_attr = attr_channel_tot.sum_exp_attr_t1 / attr_channel_tot.sum_exp_attr_t2)
attr_channel_total

In [ ]:
%time
attr_channel_plot = attr_channel_total.to_pandas()
import plotly.graph_objects as go

fig = go.Figure(
    data = [
        go.Bar(name='Uniform', x=attr_channel_plot["channel"], y=attr_channel_plot["tot_uni_attr"], yaxis='y', offsetgroup=1,marker_color='#76B7B2'),
        go.Bar(name='First Click', x=attr_channel_plot["channel"], y=attr_channel_plot["tot_fc_attr"], yaxis='y', offsetgroup=2, marker_color='#F28E2B'),
        go.Bar(name='Last Click', x=attr_channel_plot["channel"], y=attr_channel_plot["tot_lc_attr"], yaxis='y', offsetgroup=3,marker_color='#E15759'),
        go.Bar(name='Exponential', x=attr_channel_plot["channel"], y=attr_channel_plot["tot_exp_attr"], yaxis='y', offsetgroup=4,marker_color='#4E79A7')
    ],
    layout = {
        'yaxis': {'title': 'Attribution '},

    }
)
 
# Change the bar mode
fig.update_layout(barmode = 'group')
fig.show()

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The above output shows the Attribution values for each type of channel using different models.</p>

<hr style="height:2px;border:none;">

<p style = 'font-size:20px;font-family:Arial'><b>5. Cleanup</b></p>
<p style = 'font-size:18px;font-family:Arial'><b>Work Tables</b></p>
<p style = 'font-size:16px;font-family:Arial'>We need to clean up our work tables to prevent errors next time.</p>

In [ ]:
tables = ['AttrUNI_df','AttrFC_df','AttrLC_df','AttrEXP_df','','attr_4model_df',
          'ATTRIBUTION_MODEL_EXPONENTIAL','ATTRIBUTION_MODEL_LASTCLICK','ATTRIBUTION_MODEL_FIRSTCLICK',
          'ATTRIBUTION_MODEL_UNIFORM','ATTRIBUTION_CONVERSION','CJ_retail_proxy_data_v1']

# Loop through the list of tables and execute the drop table command for each table
for table in tables:
    try:
        db_drop_table(table_name=table)
    except:
        pass

<p style = 'font-size:18px;font-family:Arial'><b>Databases and Tables</b></p>
<p style = 'font-size:16px;font-family:Arial'>We will use the following code to clean up tables and databases created for this demonstration.</p>

In [ ]:
%run -i ../run_procedure.py "call remove_data('DEMO_RetailJourney');"

In [ ]:
remove_context()

<footer style="padding-bottom:35px; border-bottom:3px solid #91A0Ab">
    <div style="float:left;margin-top:14px">ClearScape Analytics™</div>
    <div style="float:right;">
        <div style="float:left; margin-top:14px">
            Copyright © Teradata Corporation - 2025. All Rights Reserved
        </div>
    </div>
</footer>